.row.index-header.text-center
  %h1.text-info.text-center Register
  %hr
.row.center-block
  .well
    %form.sign_in
      .form-group
        %label Email Address
        %input.form-control(type="email")
      .form-group
        %label Password
        %input.form-control(type="password")
      .form-group
        %label Phone Number
        %input.form-control(type="phone number")
      .form-group
        %input(type="submit" value="Register" class="btn btn-default")

