.row.index-header.text-center
  %h1.text-info.text-center Your affirmations
  %hr
.row.text-center
  .well
    %h5 Click the "Start" button below to start service.
    %h5 Reply with "STOP" to stop service.
.row.text-center
  = link_to new_affirmation_path, class: "btn btn-primary text-center" do
    %i.glyphicon.glyphicon-plus
    Add an affirmation
  %a.btn.btn-info 
    %i.glyphicon.glyphicon-play-circle
    Start
  %p
  %br
.row
  %table.table.table-striped
    %tbody
      - @affirmations.each do |affirmation|
        %tr 
          %td.lead.text-center 
            = link_to "#{affirmation.text}", edit_affirmation_path(affirmation)