= render 'form'
/ .row.index-header.text-center
/   %h1.text-info.text-center Add an affirmation
/   %hr
/ .row.center-block
/   .well
/     = bootstrap_form_for @affirmation do |f|
/       = f.text_field :text, label: "Affirmation text"
/       = f.submit "Submit"


/     