.row.index-header.text-center
  %h1.text-info.text-center Your affirmations
  %hr
.row.text-center
  .well
    %h5 Click the "Start" button below to start service.
    %h5 Reply with "STOP" to stop service.
.row.text-center
  %a.btn.btn-primary.text-center
    %i.glyphicon.glyphicon-plus
    Add an affirmation
  %a.btn.btn-info 
    %i.glyphicon.glyphicon-play-circle
    Start
  %p
  %br
.row
  %table.table.table-striped
    %tbody
      %tr 
        %td.lead.text-center 
          %a I am getting better every day.
      %tr 
        %td.lead.text-center 
          %a I am healthy and strong.
      %tr 
        %td.lead.text-center 
          %a I am calm in the face of conflict.
      %tr 
        %td.lead.text-center 
          %a I spend my money wisely.

    